/* eslint-disable */
@import "tailwindcss";

@plugin "../hero.ts";

@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

*{
    transition: background-color 0.3s ease;
}